@at-root {
	.account-login-container {}

	.account-login-header {
		margin-bottom: 24px;

		.title {
			text-align: center;
			text-transform: uppercase;
		}
	}

	.account-login-content {

		.columns {

			@include breakpoint(runner) {
				display: flex;
				justify-content: center;
			}
		}

		.column {
			flex: 1 1 0;
			margin: 0 auto;
			max-width: 400px;
			min-width: 0;
			padding-bottom: 24px;

			@include breakpoint(runner) {
				margin: 0;
				padding-top: 24px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid $color-border-light;
				margin-bottom: 24px;

				@include breakpoint(runner) {
					border-bottom: 0;
					border-right: 1px solid $color-border-light;
					margin-right: 24px;
					padding-right: 24px;
				}

				@include breakpoint(runner) {
					margin-right: 32px;
					padding-right: 32px;
				}
			}
		}
	}
}

@at-root {
	.account-dashboard-container {}

	.account-dashboard-header {
		margin-bottom: 32px;

		.title {
			text-transform: uppercase;
		}
	}

	.account-dashboard-content {

		.section {

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}

		.columns {

			@include breakpoint(crawler) {
				display: flex;
			}
		}

		.column {
			flex: 1 1 0;
			margin-bottom: 24px;

			@include breakpoint(crawler) {
				margin-bottom: 0;
				margin-right: 24px;
			}
		}

		.heading {
			@include font-size-h4;
			margin-bottom: 8px;
			text-transform: uppercase;
		}
	}
}

@at-root {
	.account-page-container {}

	.account-page-header {
		margin-bottom: 32px;

		.title {
			text-transform: uppercase;
		}
	}

	.account-page-content {

		.section {

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}

		.heading {
			@include font-size-h4;
			margin-bottom: 8px;
			text-transform: uppercase;
		}
	}

	.account-page-footer {
		margin-top: 24px;
	}
}

@at-root {
	.account-navigation {
		display: none;

		@include breakpoint(runner) {
			@include force-visible;
		}

		.item {

			&:not(:last-child) {
				border-bottom: 1px solid $color-border;
			}

			&.item-current {

				.link {
					color: $color-text;
					font-weight: 600;
				}
			}
		}

		.link {
			@include font-size-400;
			color: $color-600;
			display: block;
			padding: 8px 0;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.2s ease-out;

			&:hover,
			&:focus {
				color: $color-one-500;
			}
		}
	}

	.account-navigation-toggle {
		@include font-size-300;
		color: $color-text;
		display: block;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.2s ease-out;

		&.is-toggling,
		&.is-toggled {
			margin-bottom: 8px;
		}

		@include breakpoint(runner) {
			display: none;
		}
	}
}

@at-root {
	.account-summary {

		.link {
			@include font-size-400;
		}
	}

	.account-summary-contact {

		p {

			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}

	.account-summary-address {

		.address {
			margin-bottom: 4px;
		}
	}
}

@at-root {
	.account-order {}

	.account-order-count {
		@include font-size-400;
		margin-bottom: 8px;
	}

	.account-order-table {
		@include font-size-400;

		@include breakpoint(creeper) {
			@include font-size-500
		}

		.total {
			white-space: nowrap;
		}
	}
}

@at-root {
	.account-form {

		&.account-form-box {
			background-color: $color-200;
			padding: 16px;

			@include breakpoint(creeper) {
				padding: 24px;
			}
		}
	}
}

@at-root {
	.account-resetter {
		margin: 0 auto;
		max-width: 600px;
		text-align: center;

		.button {
			width: 100%;
		}
	}
}
