.site-header-menu li {
  padding: 0 12px;
}

.site-header-menu li a {
  font-size: 18px;
  line-height: 1.44445;
  color: #231F20;
  display: block;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 8px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.site-offside-nav li a::before {
  content: "";
  background-color: #EBEBEB;
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 12px;
}


.site-offside-nav li a {
  font-size: 14px;
  line-height: 1.42858;
  color: #fff;
  display: block;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 8px 0 8px 24px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.site-footer-innerlink li {
  display: inline-block;
  margin: 0 16px 4px 0;
}

.site-footer-innerlink li a {
  font-size: 13px;
  line-height: 1.38462;
  color: #C2BEBF;
  display: inline-block;
  transition: all 0.2s ease-out;
}

.site-footer-innerlink .current-menu-item a {
  text-decoration: underline;
}

.site-header-menu .current-menu-item a,
.site-offside-nav .current-menu-item a {
  color: #ED3462;
}

.site-header-menu li a:hover,
.site-offside-nav li a:hover {
  color: #ED3462;
}

.price ins {
  text-decoration: none;
}

.price del {
  color: #999;
  font-weight: 500;
  display: block;
}

.wordpress-post img {
  margin-bottom: 24px;
}

div.wpcf7-response-output {
  margin: 2em 0 1em;
  padding: 0.2em 1em;
}

.payment-guide-logo img {
  margin-bottom: 6px;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  margin-bottom: 0;
}

.pagination-nav .a,
.pagination-nav a {
  border: 1px solid #C2BEBF;
  color: #857F81;
  display: block;
  min-width: 32px;
  padding: 4px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.pagination-nav .a:hover,
.pagination-nav a:hover {
  background-color: #231F20;
  color: #fff;
  border-color: transparent;
}

.not-found {
  color: #999;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register, .woocommerce-page form.checkout_coupon, .woocommerce-page form.login, .woocommerce-page form.register {
  border: none;
  margin: 0;
  padding: 0;
}

.woocommerce-password-strength {
  margin-top: 6px;
}

.woocommerce-password-strength,
.woocommerce-password-hint {
  color: #999;
  font-size: 13px;
}

.woocommerce-password-strength.short,
.woocommerce-password-strength.bad {
  color: #D1354D;
}

.woocommerce-password-strength.good {
  color: #FBB040;
}

.woocommerce-password-strength.strong {
  color: #7FB13A;
}

.woocommerce .shop_table, .woocommerce-page .shop_table {
  border: none;
  border-collapse: collapse;
  margin: 0;
  text-align: left;
  width: 100%;
}

.woocommerce .button.button-line,
.woocommerce-page .button.button-line,
.woocommerce .button.button-line:hover,
.woocommerce-page .button.button-line:hover {
  background-color: #fff;
}

.woocommerce .button, .woocommerce-page .button {
  background-color: #231F20;
}

.woocommerce .button:hover, .woocommerce-page .button:hover {
  background-color: #ED3462;
}

.woocommerce .button.button-important, .woocommerce-page .button.button-important {
  background-color: #ED3462;
}

.woocommerce .button.button-important:hover,
.woocommerce-page .button.button-important:hover,
.woocommerce .button.button-important:focus,
.woocommerce-page .button.button-important:focus {
  background-color:#D62B59
}

.order-pagination {
  margin-top: 32px;
}

.woocommerce form.cart .quantity, .woocommerce-page form.cart .quantity {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 8px 0 0;
  width: 80px;
}

.woocommerce form.cart .variations, .woocommerce-page form.cart .variations {
  margin-bottom: 24px;
  width: 100%;
}

.woocommerce .button.button-important.disabled,
.woocommerce-page .button.button-important.disabled {
  background-color: #CCC;
}

.woocommerce form.cart .single_variation, .woocommerce-page form.cart .single_variation {
  margin-bottom: 24px;
}

.woocommerce form.cart, .woocommerce-page form.cart {
  margin: 0;
}

.product-shop-action {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.product-shop .stock {
  font-size: 14px;
  margin-top: 4px;
}

.product-shop .stock.out-of-stock {
  color: #D1354D;
}

.product-shop .stock.in-stock {
  color: #7FB13A;
}

.comment-reply-title {
  display: none;
}

.woocommerce .comment-form .form-submit .submit,
.woocommerce-page .comment-form .form-submit .submit {
  background-color: #231F20;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  line-height: inherit;
  padding: 3px 12px;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-out;
  vertical-align: middle;
  white-space: nowrap;
}

.woocommerce .comment-form .form-submit .submit:hover,
.woocommerce-page .comment-form .form-submit .submit:hover,
.woocommerce .comment-form .form-submit .submit:focus,
.woocommerce-page .comment-form .form-submit .submit:focus {
  background-color: #ED3462 !important;
}

.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity, .woocommerce-page .quantity {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.woocommerce .order-note .note, .woocommerce-page .order-note .note {
  font-size: 16px;
  line-height: 1.5;
  color: #231F20;
}

.form-row .input.input-textarea {
  height: 120px;
  resize: none;
}

.select2-container--default .select2-selection--single {
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.06);
  border: 1px solid #C7C5C7;
  border-radius: 1px;
  padding: 3px 8px;
}

.select2-container .select2-selection--single {
  height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}

.woocommerce form .form-row.form-row-first, .woocommerce form .form-row.form-row-last, .woocommerce-page form .form-row.form-row-first, .woocommerce-page form .form-row.form-row-last {
  width: 100%;
  display: block;
  padding: 4px 8px;

  @include breakpoint(crawler) {
    width: 50%;
  } 
}

.woocommerce form .form-row {
  display: table;
  width: 100%;
  padding: 4px 8px;
}

.checkout-form-fields {
  margin: -8px;
}

.form-row .label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 2px;
}

.checkout-notes {
  display: table;
  width: 100%;
}

.shipping_address {
  background-color: #fff;
  display: block;
  margin: 8px -12px -8px;
  padding: 16px 12px;
}

.address .courier .value {
  display: block;
}

.shipping-method-update,
.payment-method-update {
  min-height: 50px;
}

#mce-responses .response {
  color: #777;
  font-size: 14px;
  margin-top: 12px;
}

.account-resetter .form-submit {
  margin-bottom: 0;
}

#mce-responses {
  display: block;
  text-align: center;
  padding-left: 48px;
  padding-right: 48px;
}

#mc_embed_signup div.mce_inline_error {
  margin-top: 4px !important;
  padding: 5px 8px !important;
  background-color: #fff !important;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  font-weight: 500 !important;
  font-size: 13px;
  z-index: 1;
  color: #333 !important;
  position: absolute;
  transition: visibility 0.5s ease-in-out;
}

.shipping-available-message .woocommerce-error {
  margin-top: 24px;
}