@at-root {
	.popup {
		background-color: $white;
		display: block;
		margin: 24px auto;
		max-width: 768px;
		position: relative;
	}

	.popup-header,
	.popup-content,
	.popup-footer {
		padding: 16px;

		@include breakpoint(creeper) {
			padding: 16px 24px;
		}
	}

	.popup-header {
		border-bottom: 1px solid $color-border;
	}

	.popup-content {

		@include breakpoint(creeper) {
			padding: 24px;
		}
	}

	.popup-footer {
		background-color: $color-background-light;
	}
}
